*{
	margin:0px;
	padding:0px;
	list-style:none;
}
.game-body .game-title{
	width: 1000px;
	height: 70px;
	margin: 0 auto;
	text-align: center;
	line-height: 70px;
	font-size: 50px;
	font-weight: 700;
}
.game-body .game-nav{
	width: 1000px;
	height: 100px;
	border: 1px solid black;
	margin: 0 auto;
	background-color: #FFB;
}
.game-body .game-nav .difficulty{
	background-color: orange;
}
.game-body .game-nav ul li{
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	float: left;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.game-body .game-nav .time{
	width: 397px;
	border-right: 0px;
}
.game-body .game-nav .time input{
	display: inline-block;
	width: 50px;
	height: 30px;
	border: 1px solid black;
	text-align: center;
	line-height: 30px;
	font-size: 15px;
	padding-top: 5px;
}
.game-body .game-nav .game-snav{
	width: 1000px;
	height: 50px;

}
.game-body .game-nav .game-snav .boom-num{
	width: 300px;
	height: 30px;
	text-align: center;
	font-size: 25px;
	float: left;
	line-height: 30px;
	margin: 8px 50px 0 150px;
}
.game-body .game-nav .boom-num input{
	width: 100px;
	height: 30px;
	text-align: center;
	font-weight: 700;
	font-size: 20px;
}
.game-body .game-nav .game-snav .newgame{
	width: 120px;
	height: 30px;
	text-align: center;
	font-size: 20px;
	float: left;
	line-height: 30px;
	margin: 8px 279px 0 99px;
	border: 1px solid black;
	background-color: orange;
}




.game-body .game-main{
	width: 1000px;
	height: 450px;
	margin: 0 auto;
	background-color: #FFB;
	border: 1px solid black;
	border-top: 0px;
	overflow: hidden;
}
.game-body .game-main .game-mainpage{
	position: relative;
	top: 0px;
	width: 1000px;
	height: 1350px;
}
.game-body .game-main .game-mainpage>div{
	padding-top: 20px;
	width: 1000px;
	height: 430px;
}
.game-body .game-main .game-mainpage ul {
	border-right: 1px solid #FF0;
	border-bottom: 1px solid #FF0;
	background-color: #fff;
}
.game-body .game-main .game-mainpage ul li {
	position: relative;
	float: left;
	border-top: 1px solid #FF0;
	border-left: 1px solid #FF0;
	text-align: center;
}
.game-body .game-main .game-mainpage ul li div {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #ADEB00;
	opacity: 1;
}
.game-body .game-main .easy ul{
	width: 369px;
	height: 369px;
	margin: 0 315px;
}
.game-body .game-main .usual ul{
	position: relative;
	width: 416px;
	height: 416px;
	margin: 0 292px;
}
.game-body .game-main .hard ul{
	width: 780px;
	height: 416px;
	margin: 0 110px;
}
.game-body .game-main .easy ul li{
	width: 40px;
	height: 40px;
	line-height: 40px;
}
.game-body .game-main .usual ul li{
	width: 25px;
	height: 25px;
	line-height: 25px;
}
.game-body .game-main .hard ul li{
	width: 25px;
	height: 25px;
	line-height: 25px;
}